<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>SpawnMe! 2.0</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon.png</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>ig</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ig</string>
				</array>
				<key>CFBundleIconName</key>
				<string>ig</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>messenger</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>messenger</string>
				</array>
				<key>CFBundleIconName</key>
				<string>messenger</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>rev</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>rev</string>
				</array>
				<key>CFBundleIconName</key>
				<string>rev</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>settings</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>settings</string>
				</array>
				<key>CFBundleIconName</key>
				<string>settings</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.d7c3g6.spawnme2</string>
	<key>CFBundleName</key>
	<string>SpawnMe!</string>
	<key>CFBundleShortVersionString</key>
	<string>2.2</string>
	<key>CFBundleVersion</key>
	<string>2.2</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>MinimumOSVersion</key>
	<string>15.0</string>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
